# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
# Desktop Servies
.DS_Store
.idea/
/script/env.sh
/Pods/
/Podfile.lock

/Classy.xcworkspace/xcshareddata/Classy.xccheckout
Classy.xcodeproj/project.xcworkspace
Classy.xcworkspace/contents.xcworkspacedata
Artifacts
